@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: op;
}

@font-face {
    font-family: openbold;
    src: url(fonts/opensanshebrewcondensed-bold.ttf);
}
body{
    background-image: url(img/China.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.sidenav-trigger{
    display: none;
    position: fixed;
}


.sideinfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.37) , #66666615);
    backdrop-filter: blur(5px);
    width: 350px;
    height: 100vh;
    padding: 50px;
}

.row{
    position: fixed;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.37) , #66666615);
    backdrop-filter: blur(5px);
    bottom: 0;
    right: 0;
    width: 55%;
    height: 100px;
    margin: 0;
}

.row .col.s4{
    transform: translateY(-70px);
}

.col.s4 img{
    width: 200px;
}

h3{
    font-family: openbold, sans-serif;
    font-weight: bolder;
    margin: 0;
}
H6{
    font-family: openbold, sans-serif;
    font-weight: bold;
    margin: 0;
}
.sideinfo p{
    font-family: 'Open sans', sans-serif;
    margin-top: 20px;
    font-weight: 500
}
.row p{
    margin-left: 10%;
    font-family: 'Open sans', sans-serif;
    font-weight: 500
}



@media (max-width:600px) {
    .sidenav-trigger{
        display: block;
        margin: 40px 0 0 40px;
        color: white;
    }

    .material-icons{
        font-size: 30px;
    }
    .sidenav{
        background-color: transparent;
    }

    .sideinfo{
        display: none;
    }

    .mobile{
        display: flex;
        flex-direction: column;
        align-items: start;
        position: fixed;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.37) , #66666615);
        backdrop-filter: blur(5px);
        width: 350px;
        height: 100vh;
        padding: 50px;
    }


} 

@media (min-width:600px){
    .mobile{
        display: none;
    }
    .sidenav-trigger{
        display: none;
    }

}